<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

    <head>
        <title alt="This is an Attribute">This is a Sample Page for SEO Tests</title>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index, follow">

        <meta name="description" content="This is a Sample Page for SEO Tests. This is a Sample Page for SEO Tests. This is a Sample Page for SEO Tests.">
        <meta name="author" content="BadPixxel">
        <meta name="publisher" content="BadPixxel">
        <meta name="keywords" content="BadPixxel, Paddock, Seo">

        <meta property="og:url" content="https://badpixxel.com">
        <meta property="og:type" content="Website">
        <meta property="og:title" content="This is a Sample Page for SEO Tests.">
        <meta property="og:description" content="This is a Sample Page for SEO Tests. This is a Sample Page for SEO Tests. This is a Sample Page for SEO Tests.">
        <meta property="og:image" content="https://badpixxel.com/logo.png">

        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <p>
            This is a Sample Page for SEO Tests.
            This is a Sample Page for SEO Tests.
            This is a Sample Page for SEO Tests.
        </p>
    </body>
</html>